extends layouts/main-layout.pug

block title
    title 500 | Server error occured!

block content
    main
        h1 Fatal Error occurred!
        span An error occurred on the server-side. Please try again later