extends ../layouts/main-layout

block title
    title #{docTitle}

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    main
        if (errorMessage.length>0)
            each message in errorMessage
                .user-message.user-message--error #{message}
                br
        form.login-form(action="/login", method="POST")
            .form-control
                label(for="email") Email
                input(type="email", name="email", id="email")
            .form-control
                label(for="password") Password
                input(type="password", name="password", id="password")
                input(name="_csrf" value=`${csrfToken}` type="hidden")
            button.btn(type="submit") Login
            div.form-control Forgot your password?
                a(href="/reset", style="margin-left:10px") Reset it...
