extends ../layouts/main-layout

block title
    title #{docTitle}

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    main
        if (errorMessage.length>0)
            each message in errorMessage
                .user-message.user-message--error #{message}
                br
        form.login-form(action="/reset", method="POST")
            .form-control
                label(for="email") Email
                input(type="email", name="email", id="email")
                input(name="_csrf" value=`${csrfToken}` type="hidden")
            button.btn(type="submit") Reset password
